.feed{
	margin-top: 20px;
	float: right;
	margin-right: 50px;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

#header_top{
	background-color: #ffffff
}


#menu{
	position:absolute;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}


/*Header Page css*/

#header2{
	position: relative;
	height: 83vh;
	width: 100%;
}


.inner_header{
	height: 100%;
	width: 100%;
	position: static;
	background-repeat: no-repeat;
	background-image: url("background3.jpg") ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0px 0px; 

/*  	filter: alpha(opacity=30);  
    -moz-opacity: 0.6;  
    -khtml-opacity: 0.6;  
    opacity: 0.6;  */
}

.name_header{
	margin-top: 120px;
	margin-bottom: 30px;
	margin-left: 0 auto;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17pt;
	color:#ecf0f1;
}

.small_line{
	border: 0;
	border-top: 2px solid #f5f5f5;
	height: 10px;
	width: 200px;
	margin-top: 30px;
}

.paragraph_header{
	width: 35%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #f5f5f5;
	font-size: 22px;
	line-height: 150%;
	margin-top: -20px;
}

.contact_me{
	position: relative;
	margin-left: 47%;
	width: 100%;
	margin-top: 50px;
}

.contact_me_button{

}

/*My Background css*/
#My_Background{
	height: 100vh;
	width: 100%;
	background-color: #FF6138;
	position: static;
}

.title{
	font-size: 20pt;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #f5f5f5;
}

.small_line_background{
	width: 45%;
	border: 0;
	display: block;
	border-top: 1px solid #f5f5f5;
    margin: 1em 0;
	height: 1px;
	color: #f5f5f5;
	margin-top: 
}

.text{
	z-index: 99;
	position: absolute;
	width: 50%;
	text-align: center;
	margin-left: 27%;
	margin-top: -80px;
	font-family: 'Josefin Slab', serif;
	color: #2c3e50;
	font-size: 22pt;
}

/*My Radar Graph css*/

#My_Radar_Graph{
	position: static;
	height: 83vh;
	width: 100%;
	background-color: #f5f5f5;
}

#chartdiv_radar{
	position: absolute;
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
	margin-top: 200px;

}

.info_icon{
	position: absolute;
	display: block;
	margin-left: 48%;
	margin-top: 20px;

}

#title_radar{
	color: #e74c3c;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15pt;
	position: relative;
	display: block;
	margin-left: 45%;
	margin-top: 65px;
}

 #line_radar{
	border-top: 1.5px solid #c0392b;
	position: relative;
	margin-left: 55px;
	width: 35%;
	margin-top: -10px;

}

.radar_paragraph{
	position: absolute;
	display: inline-block;
	margin-top: 150px;
	margin-left: -300px;
	text-align: center;
	color: #e74c3c;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 13pt;


}

/*Development Skills css*/
#Development_Skills{
	position: static;
	height: 83vh;
	width: 100%;
	background-color: #BEEB9F
}

#title_development{
	color: #3498db;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15pt;
	position: relative;
	display: block;
	margin-left: 45%;
	margin-top: 65px;
}

#line_development{
	border-top: 1.5px solid #3498db;
	position: relative;
	margin-left: 55px;
	width: 35%;
	margin-top: -10px;
}

.cirlce_div{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	margin-left: 100px;	
}

.circle{
	width: 100%;
	height: 100%;
	position: absolute;
}

.inner_circle{
	width: 100%;
	height: 100%;
	position: absolute;
}

.line{
	width: 100%;
	height: 100%;
	position: absolute;
}

.text_dev{
	width: 100%;
	height: 100%;
	position: absolute;
	font-family: 'Quattrocento Sans', sans-serif, bold;
	color: #3498db;
	text-align: center;
	font-weight: 700;
	font-size: 12pt;
}

#text_dev1{
	margin-top: 640px;
	margin-left: -478px;
}

#text_dev2{
	margin-top: 200px;
	margin-left: -218px;
}

#text_dev3{
	margin-top: 640px;
	margin-left: 42px;
}

#text_dev4{
	margin-top: 200px;
	margin-left: 282px;
}

#text_dev5{
	margin-top: 640px;
	margin-left: 482px;
}



/*Experience css*/
#Experience{
	position: static;
	height: 86vh;
	width: 100%;
	background-color: #79BD8F;
}


#title_experience{
	color: #ecf0f1;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15pt;
	position: relative;
	display: block;
	margin-left: 46.8%;
	margin-top: 70px;
}

#line_experience{
	border-top: 1.5px solid #ecf0f1;
	position: relative;
	margin-left: 35px;
	width: 35%;
	margin-top: -15px;
}

#briefcase{
	margin-top: 27px;
}

.experience_box{
	padding: 50px;
	position: relative;
/*	display: inline-block;
*/	width: 60%;
	margin: 0 auto;
}

.experience_box:before,
.experience_box:after {
	content:"";
	display: table;
}

.experience_box:after{
	clear:both;
}

.experience_box article{
	width: 170px;
	height: 270px;
	background:	#00A388;
	cursor: pointer;
	float: left;
	border: 10px solid #00A388;
	text-align: left;
	text-transform: none;
	margin: 15px;
	z-index: 1;
	box-shadow: 
		0px 0px 0px 10px #00A388, 
        1px 1px 3px 10px #16a085;
    transition: 
        opacity 0.4s linear, 
        transform 0.4s ease-in-out, 
        box-shadow 0.4s ease-in-out;
}

.experience_box article h3{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #f1c40f;
	text-shadow: 0px 0px 0px #f1c40f;
	opacity: 0.8;
	text-transform: uppercase;
}

.experience_box article p{
	font-family:  'Quattrocento Sans', sans-serif;
	font-size: 15px;
	line-height: 17px;
	color: #f5f5f5;
	text-shadow: 0px 0px 0px #f5f5f5;
	opacity: 0.9;
}

.experience_box 

.experience_box h3,
.experience_box p.
.experience_box article{
    transition: 
    opacity 0.2s linear, 
    text-shadow 0.5s ease-in-out, 
    color 0.5s ease-in-out;
}

.experience_box article.blur{
	box-shadow: 0px 0px 20px 10px #00A388;
    transform: scale(0.9);
    opacity: 0.7;
}

.experience_box article.blur h3 a{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}
.experience_box article.blur header span{
    text-shadow: 0px 0px 10px #00A388;
    color: rgba(255, 210, 82, 0);
    opacity: 0.5;
}
.experience_box article.blur  p{
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
    color: rgba(51, 51, 51, 0);
    opacity: 0.5;
}
.experience_box article.active{
    transform: scale(1.05);
    box-shadow: 
        0px 0px 0px 10px #00A388, 
        1px 11px 15px 10px #16a085;
    z-index: 100;   
    opacity: 1;
}
.experience_box article.active h3 a,
.experience_box article.active header span,
.experience_box article.active p{
    opacity; 1;
}

.first_line .second_line{

}

/*Contact css*/
#Contact{
	position: static;
	height: 200px;
	width: 100%;
	background-color: #00A388;
}

#title_contact{
	color: #f1c40f;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15pt;
	position: relative;
	display: block;
	margin-left: 47.5%;
	margin-top: 65px;
}

#line_contact{
	border-top: 1.5px solid #f1c40f;
	position: relative;
	margin-left: 30px;
	width: 35%;
	margin-top: -10px;
}