.feed{
	margin-top: 20px;
	float: right;
	margin-right: 50px;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

#header_top{
	background-color: #ffffff
}


#menu{
	position:absolute;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}


/*Header Page css*/

#header2{
	position: relative;
	height: 83vh;
	width: 100%;
}


.inner_header{
	height: 100%;
	width: 100%;
	position: static;
	background-repeat: no-repeat;
	background-image: url("background2.jpg") ;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-position: 0px; 

/*  	filter: alpha(opacity=30);  
    -moz-opacity: 0.6;  
    -khtml-opacity: 0.6;  
    opacity: 0.6;  */
}

.name_header{
	margin-top: -40px;
	margin-bottom: 30px;
	margin-left: 0 auto;
	width: 100%;
	text-align: center;
	display: inline-block;
	font-family: 'Montserrat';
	font-size: 17pt;
	color:#2c3e50;
}

.small_line{
	border: 0;
	border-top: 2px solid #2c3e50;
	height: 10px;
	width: 200px;
	margin-top: -20px;
}

.paragraph_header{
	width: 35%;
	margin: 0 auto;
	text-align: center;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #2c3e50;
	font-size: 22px;
	line-height: 150%;
	margin-top: -60px;
}

/*My Background css*/
#My_Background{
	height: 100vh;
	width: 100%;
	background-color: #FF6138;
	position: static;
}

.title{
	font-size: 20pt;
	float: left;
	margin-top: 20px;
	margin-left: 10%;
	font-family: 'Quattrocento Sans', sans-serif;
	color: #f5f5f5;
}

.small_line_background{
	width: 45%;
	border: 0;
	display: block;
	border-top: 1px solid #f5f5f5;
    margin: 1em 0;
	height: 1px;
	color: #f5f5f5;
	margin-top: 
}

.text{
	z-index: 99;
	position: absolute;
	width: 50%;
	text-align: center;
	margin-left: 27%;
	margin-top: -80px;
	font-family: 'Josefin Slab', serif;
	color: #2c3e50;
	font-size: 22pt;
}

/*My Radar Graph css*/

#My_Radar_Graph{
	position: static;
	height: 85vh;
	width: 100%;
	background-color: #ecf0f1;
}

#chartdiv_radar{
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#title_radar{
	color: #e74c3c;
}

 #line_radar{
	border-top: 1px solid #c0392b;
}




/*Development Skills css*/
#Development_Skills{
	z-index: 1;
	position: static;
	height: 85vh;
	width: 100%;
	background-color: #BEEB9F
}

#circle1{
	z-index: 99;
	width: 100%;
	height: 100%;
	position: absolute;
}

/*Experience css*/
#Experience{
	position: static;
	height: 85vh;
	width: 100%;
	background-color: #79BD8F
}

/*Contact css*/
#Contact{
	position: static;
	height: 200px;
	width: 100%;
	background-color: #00A388
}